body{
    font-family: 'Courier New', Courier, monospace;
}

.title{
    font-size: 70px;
}

.box{
    background-color: black;
    width: 500px;
    height: 100px;
    
}

.list{
    color: white;
    
}
a{
    color: white
}

.lasagna{
    height: 400px;
    width: auto;
}